<ion-header>
  <ion-navbar>
    <ion-title>detalhe</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>

  <ion-slides pager="true">
    <ion-slide *ngFor="let foto of carro.fotos">
      <img src="{{foto}}">
    </ion-slide>
  </ion-slides>

  <ion-item-group>
    <ion-item-divider color="light">
      <ion-icon name="car"></ion-icon> Veículo
    </ion-item-divider>
    <ion-item>
      {{carro.nome}}
    </ion-item>
    <ion-item-divider>
      <span item-left> Valor </span>
      <span item-right>R$ {{carro.preco}}</span>
    </ion-item-divider>
  </ion-item-group>
  <ion-item-group>
    <ion-item-divider color="light">
      <ion-icon name="options"></ion-icon> Acessórios
    </ion-item-divider>
    <ion-item *ngFor="let acessorio of acessorios">
      <ion-label>
        <h2>{{acessorio.nome}}</h2>
        <h4>R$ {{acessorio.preco}}</h4>
      </ion-label>
      <ion-toggle #toggle 
        color="secondary" checked="false"
        (ionChange)="atualizarValores(toggle.checked, acessorio)"></ion-toggle>
    </ion-item>
  </ion-item-group>
  <ion-item-group>
    <ion-item-divider color="light">
      Total
      <span item-right> R$ {{valorTotal}}</span>
    </ion-item-divider>
  </ion-item-group>
  <ion-fab top right edge>
    <button ion-fab color="secondary" mini (click)="avancarCadastro()">
      <ion-icon name="arrow-dropright"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
